  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {   
  box-sizing: border-box;

}

body {
  background-color: rgb(255, 187, 0);
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  color: #333;
  margin: 10px 0 20px;
  text-align: center;
  }


.container {
  width: 500px;
}


textarea {
  border: 10px solid rgb(128, 26, 0);
  display: block;
  width:100% ;
  height: 100px;
  font-family: inherit ;
  padding: 10px;
  border-radius: 10%;
}

.tag {
  background-color: #f0932b;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  margin:  5px 5px 10px 0;
  font-size: 14px;
  display: inline-block;
  border: 2px solid rgb(128, 26, 0);
}

.tag.highlight {
  background-color: #273c75;
}